@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
  font-family: "Dancing Script", cursive;

}
html {
  scroll-behavior: smooth;
}
.nav-btn {
  @apply text-[#6d6e70] hover:text-white transition;
}
.mobile-nav {
  @apply text-lg text-white hover:text-[#C778DD] transition;
}